{% extends 'kids_fitness_app/base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'kids_fitness_app/css/about_us.css' %}">
{% endblock %}

{% block content %}
<img src="{% static 'kids_fitness_app/img/aboutus.png' %}" alt="" class="bg-image">
<div class="container main-container">
<div class="row">
    <div class="col-8">
        <div class="card card-1">
            <img src="{% static 'kids_fitness_app/img/aboutusimg.png' %}" class="card-img-top" alt="aboutusimg">
            <div class="card-body">
              <p class="card-text">Ласкаво просимо до нашої студії дитячого фітнесу – місця, де здоров'я та розвиток ваших дітей є нашою головною метою! Ми пропонуємо різноманітні послуги, які допоможуть вашим дітям залишатися активними, здоровими та щасливими.</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
    </div>
</div>
</div>


{% endblock %}