{% extends 'kids_fitness_app/base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'kids_fitness_app/css/about_us.css' %}">
{% endblock %}

{% block content %}
    <div class="hero-section">
        <img src="{% static 'kids_fitness_app/img/image11.png' %}" alt="Background Image" class="hero-image">
        <div class="hero-text">
            <h1>Місце, де ваші діти з радістю будуть розвиватись фізично та інтелектуально!</h1>
            <p>У нашому клубі працюють досвідчені та кваліфіковані тренери</p>
            <p>Які люблять дітей та знають, як зробити тренування цікавими та корисними.</p>
        </div>
    </div>

    <div class="hero-section">
        <img src="{% static 'kids_fitness_app/img/image36.png' %}" alt="Background Image" class="hero-image">
        <div class="hero-text">
            <h1>Пропонуємо широкий спектр програм для дітей різного віку:</h1>
            <p>-Дитячий фітнес</p>
            <p>-ЛФК</p>
            <p>-Рухливі ігри</p>
            <p>-ЗФП</p>
            <p>-Сенсорна інтеграція</p>
            <p>-Мозочкова стимуляція</p>
        </div>
    </div>

    <div class="hero-section">
        <img src="{% static 'kids_fitness_app/img/image27.png' %}" alt="Background Image" class="hero-image">
        <div class="hero-text">
            <h1>Ми пропонуємо:</h1>
            <p>-Комфортні та безпечні зали</p>
            <p>-Сучасне обладнання</p>
            <p>-Зручний графік занять</p>
            <p>-Доступні ціни</p>
        </div>
    </div>

    <div class="hero-section">
        <img src="{% static 'kids_fitness_app/img/image5.png' %}" alt="Background Image" class="hero-image">
        <div class="hero-text">
            <h1>Завітайте до нас і переконайтеся самі, що наш фітнес-клуб - це найкраще місце для розвитку вашої дитини!</h1>
        </div>
    </div>
{% endblock %}