<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kids Fitness</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'kids_fitness_app/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'kids_fitness_app/css/base_buttons.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ledger&display=swap" rel="stylesheet">
    {% block links %}
    {% endblock %}
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <img src="{% static 'kids_fitness_app/img/Group 26.png' %}" alt="Kids Fitness Logo">
        </div>
        <div class="nav flex-column py-3">
            <li class="nav-item button" id="square1" onclick="location.href='#';">
                <a href="{% url 'main' %}">
                    <div class="circle" id="circle1">1</div>
                    | Головна
                </a>
            </li>
            <li class="nav-item button" id="square2" onclick="location.href='#';">
                <a href="{% url 'gallery' %}">
                    <div class="circle" id="circle2">2</div>
                    | Галерея
                </a>
            </li>
            <li class="nav-item button" id="square3" onclick="location.href='#';">
                <a href="{% url 'service' %}">
                    <div class="circle" id="circle3">3</div>
                    | Послуги
                </a>
            </li>
            <li class="nav-item button" id="square4" onclick="location.href='#';">
                <a href="{% url 'about_us' %}">
                    <div class="circle" id="circle4">4</div>
                    | Про нас
                </a>
            </li>
            <li class="nav-item button" id="square5" onclick="location.href='#';">
                <a href="{% url 'contacts' %}">
                    <div class="circle" id="circle5">5</div>
                    | Контакти
                </a>
            </li>
            <li class="nav-item mt-4 button" id="square6" onclick="location.href='#';">
                <a href="{% url 'sign_up' %}">
                    <div class="circle" id="circle6">!</div>
                    | Запис
                </a>
            </li>
        </div>
        <div class="contact-info">
            <p>ТРЕНЕР:</p>
            <p><a href="tel:+380660827892">+38 (066) 082 78 92</a></p>
            <p>ТЕЛЕГРАМ:</p>
            <p><a href="https://t.me/AnastasiiaRyemyen">@AnastasiiaRyemyen</a></p>
            <p><a href="{% url 'login' %}">Вхід</a> | <a href="{% url 'register' %}">Реєстрація</a></p>
        </div>
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>