<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kids Fitness</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'kids_fitness_app/css/base.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap" rel="stylesheet">
    {% block links %}
    {% endblock %}
</head>
<body>
    <div class="sidebar">
        <div class="user-info d-flex align-items-center justify-content-center w-100">
            <img src="{% static 'kids_fitness_app/img/Avatar.png' %}" alt="User Logo" class="rounded-circle mr-3">
            {% if user.is_authenticated %}
                <p class="m-0 ml-1"><span>{{ user.username }}</span></p>
            {% else %}
                <a href="{% url 'register' %}" class="m-0 ml-1">Ввійти/ Зареєструватись</a>
            {% endif %}
        </div>
        <div class="text-center my-4">
            <a href="{% url 'main' %}" title="На головну" class="home-button">
                <h1 style='font-size: 36px;'>Kids fitness</h1>
            </a>
        </div>
        <nav class="nav flex-column text-center">
            <a class="nav-link custom-link {% if request.path == '/about/' %}active{% endif %}" href="{% url 'about_us' %}">ПРО НАС</a>
            <a class="nav-link custom-link {% if request.path == '/gallery/' %}active{% endif %}" href="{% url 'gallery' %}">ГАЛЕРЕЯ</a>
            <a class="nav-link custom-link {% if request.path == '/contacts/' %}active{% endif %}" href="{% url 'contacts' %}">КОНТАКТИ</a>
        </nav>
        <a class="btn btn-custom" href="{% url 'contacts' %}" style="width: 150px;">ЗАПИСАТИСЯ</a>
        <hr>
        <div id="bottom-info" class="container d-flex flex-column align-items-center">
            <div class="mt-4 text-center">
                <p>ТРЕНЕР:</p>
                <p>НОМЕР ТЕЛЕФОНУ<br>+38 (066) 088 78 92</p>
                <p>ТЕЛЕГРАМ<br>@AnastasiiaRyemyen</p>
                <a href="{% url 'contacts' %}" style="color: #074195; text-decoration: underline; text-decoration-color: #074195;">ГРАФІК РОБОТИ</a>
            </div>
            <div class="text-center mt-auto mb-4">
                <br>
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="nav-link">Выход</a>
                {% else %}
                    <a href="#" class="nav-link" data-toggle="modal" data-target="#loginModal">Вход</a>
                {% endif %}
            </div>
        </div>
    </div>
    
        
    </div>
    
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>
