{% extends 'kids_fitness_app/base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'kids_fitness_app/css/sign_up.css' %}">
{% endblock %}

{% block content %}
<img src="{% static 'kids_fitness_app/img/autoreg.png' %}" alt="unluck" class="bg-image">

<div class="form-container" style="margin-top: 10%;">
    <h2 class="form-title">Реєстрація</h2>
    <form>
        <div class="form-group">
        <input type="text" class="form-control" placeholder="Логін">
        </div>
        <div class="form-group">
        <input type="tel" class="form-control" placeholder="Пошта">
        </div>
        <div class="form-group">
        <input type="password" class="form-control" placeholder="Пароль">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Повторення паролю">
        </div>


        <button type="submit" class="btn btn-custom">Зареєструватися</button>
    </form>
    </div>


<div class="carousel-caption d-flex align-items-center justify-content-center">
    <div class="image-links d-flex align-items-center justify-content-center mt-4">
        <a href="https://www.facebook.com/groups/159212643825421/?_rdr" target="_blank">
            <img src="{% static 'kids_fitness_app/img/facebook.png' %}" alt="facebook" class="image-link">
        </a>
        <a href="https://www.instagram.com/kids_fitness_dnipro/" target="_blank">
            <img src="{% static 'kids_fitness_app/img/inst.png' %}" alt="instagram" class="image-link">
        </a>
        <a href="https://t.me/AnastasiiaRyemyen" target="_blank">
            <img src="{% static 'kids_fitness_app/img/tg.png' %}" alt="telegram" class="image-link">
        </a>
    </div>
</div>

{% endblock %}