#square1 {
    background-color: #D0EEFF;
}

#square1:hover {
    background-color: #95D7FC;
}

#circle1 {
    background-color: #BEFB0F;
}

#square2 {
    background-color: #F7FF99;
}

#square2:hover {
    background-color: #CDD857;
}

#circle2 {
    background-color: #FF9797;
}

#square3 {
    background-color: #A1FF99;
}

#square3:hover {
    background-color: #7AC973;
}

#circle3 {
    background-color: #91B7FA;
}

#square4 {
    background-color: #FDD95A;
}

#square4:hover {
    background-color: #CDB14F;
}

#circle4 {
    background-color: #9AF00F;
}

#square5 {
    background-color: #FF78E9;
}

#square5:hover {
    background-color: #D64DC0;
}

#circle5 {
    background-color: #FCDB2B;
}

#square6 {
    background-color: #24DBA4;
}

#square6:hover {
    background-color: #47B292;
}

#circle6 {
    background-color: #FCDB2B;
}