.carousel-caption {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 10px 0;
}

.caption-bg {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
    animation: blink 1s infinite;
    display: inline-block;
    width: 95%;
    text-align: center;
}

@keyframes blink {
    0%, 49% {
        opacity: 1;
    }
    50%, 100% {
        opacity: 0.5;
    }
}

h1 {
    color: white;
}

.content {
    padding: 0;
    padding-left: 1px;
}