.caption-link {
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.caption-block{
    position: absolute;
    top: 10px;
    left: 5%;
}

.caption-buttons{
    position: absolute;
    top: 10px;
    right: 0;
}

.caption-images{
    position: absolute;
    top: 10px;
    right: 10px;
}

.card{
    height: 55%;
    width: 55%;
    opacity: 50%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-text{
    color: black;
    font-size: 36px;
}

.caption-bg {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
    animation: blink 1s infinite;
    display: inline-block;
    width: 95%;
    text-align: center;
}


#text{
    opacity: 100%;
}

.content {
    padding: 0;
}

.image-link{
    margin: 0px;
    width: 75px;
    height: 75px;
}

.image-links{
    gap: 30px;
}