.content {
    padding: 0;
}

.main-container {
    height: 100%;
    position: absolute;
    margin-left: 30%;
    margin-top: 13%;
}

.bg-image {
    position: absolute;
    width: 85%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-title {
    color: #fff;
    font-size: 36px;
    margin-bottom: 20px;
}

.form-inner {
    background-color: rgba(17,60,101,1);
    border: 2px solid #ffd700;
    border-radius: 10px;
    padding: 50px; 
    width: 700px; 
    text-align: center;
}

.form-group {
    margin: 20px 0; 
}

.form-control {
    width: 100%; 
    background-color: rgba(17,60,101,1);
    padding: 20px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-size: 28px;
    color: #ffffff;
}

.btn-custom {
    width: 60%; 
    padding: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(203, 230, 255);
    color: #000;
    font-size: 26px; 
    cursor: pointer;
    margin-top: 20px; 
}

.paragraph {
    color: #fff;
}
